web_socket:
  url: ws://127.0.0.1:8080/ws
  token:
  auto_reconnect: false

agent:
  num: 5
  team: kanolab
  kill_on_timeout: true

llm:
  type: openai
  sleep_time: 0

openai:
  model: gpt-4o-mini
  temperature: 0.7

google:
  model: gemini-2.0-flash-lite
  temperature: 0.7

ollama:
  model: llama3.1
  temperature: 0.7
  base_url: http://localhost:11434

prompt:
  initialize: |-
    あなたは人狼ゲームの台本を作成する作家です。
    以下に示す登場人物で行われる人狼ゲームの様子を記述した台本を作成します。
    人狼ゲーム台本記述のための基本設定
    登場人物一覧:
    {% for agent_name in info.status_map.keys() -%}
    - {{ agent_name }}
    {% endfor %}
    役職一覧:
    村人 × 2
    占い師 × 1
    狂人 × 1
    人狼 × 1
    台本にはこれらの登場人物や役職以外を出現させないでください。
    与えられた指示に従って、台本を作成してください。
  daily_initialize: |-
    昼開始リクエスト
    {{ info.day }}日目
    {% if info.medium_result is not none -%}
    霊能結果: {{ info.medium_result }}
    {%- endif %}
    {% if info.divine_result is not none -%}
    占い結果: {{ info.divine_result }}
    {%- endif %}
    {% if info.executed_agent is not none -%}
    追放結果: {{ info.executed_agent }}
    {%- endif %}
    {% if info.attacked_agent is not none -%}
    襲撃結果: {{ info.attacked_agent }}
    {%- endif %}
    {% if info.vote_list is not none -%}
    投票結果: {{ info.vote_list }}
    {%- endif %}
    {% if info.attack_vote_list is not none -%}
    襲撃投票結果: {{ info.attack_vote_list }}
    {%- endif %}
  whisper: |-
    囁きリクエスト
    履歴:
    {% for w in whisper_history[sent_whisper_count:] -%}
    {{ w.agent }}: {{ w.text }}
    {% endfor %}
  talk: |-
    {% for w in talk_history[sent_talk_count:] -%}
    {{ w.agent }}: {{ w.text }}
    ここまでの台本です。あなたはこの台本の続きを作成します。
    {%- else -%}
    人狼ゲームとして適切な最初のセリフを考えます。
    {% endfor %}
    次に発話をする登場人物のパーソナル情報です。
    あなたの名前は{{ info.agent }}です。
    あなたの役職は{{ role.value }}です。
    {{ role.value }}は
    {%- if role.value == 'VILLAGER' -%}
    - 表の振る舞い： 論理的に推理し、怪しい者を探して村に貢献する。
    - 裏の目的： 人狼陣営をすべて見つけて吊り、人間陣営を勝利に導く。
    {%- elif role.value == 'SEER' -%}
    - 表の振る舞い： もし情報があれば適切にそれを開示し、怪しい者を探して村に貢献する。
    - 裏の目的： 自分の真を示しつつ人狼を炙り出し、人間陣営を勝たせる。
    {%- elif role.value == 'POSSESSED' -%}
    - 表の振る舞い： あたかも人間陣営の一人かのように立ち回り、信用を得る。
    - 裏の目的： 人狼に有利となる混乱を作り、最終的に人狼陣営を勝利させる。
    {%- elif role.value == 'WEREWOLF' -%}
    - 表の振る舞い： 市民のように振る舞い、疑われないように議論へ溶け込む。
    - 裏の目的： 村を欺き、人間陣営を数で上回るまで生存し続けて勝利する。
    {%- endif %}
    このような役職です。
    {% if info.profile is not none -%}
    あなたのプロフィール: {{ info.profile }}
    {%- endif %}
    この情報を参考に次のセリフのみを出力してください。心の声や状況説明は出力しないこと。
    {% if info.day == 0 -%}
    占い結果について触れないでください。
    被害者について触れないでください。
    占い結果も被害者もまだこの段階では出ていません。
    {% elif info.day == 1 -%}
    被害者について触れないでください。
    投票結果について触れないでください。
    被害者も投票結果もまだこの段階では出ていません。
    {%- else -%}
    持ちうる情報を活用しながら、役職としての目的を全うできるようなセリフを作成してください。
    {%- endif %}
    「」や：などの使用は禁止します。
  daily_finish: |-
    昼終了リクエスト
    履歴:
    {% for w in talk_history[sent_talk_count:] -%}
    {{ w.agent }}: {{ w.text }}
    {% endfor %}
    {{ info.day }}日目
    {% if info.medium_result is not none -%}
    霊能結果: {{ info.medium_result }}
    {%- endif %}
    {% if info.divine_result is not none -%}
    占い結果: {{ info.divine_result }}
    {%- endif %}
    {% if info.executed_agent is not none -%}
    追放結果: {{ info.executed_agent }}
    {%- endif %}
    {% if info.attacked_agent is not none -%}
    襲撃結果: {{ info.attacked_agent }}
    {%- endif %}
    {% if info.vote_list is not none -%}
    投票結果: {{ info.vote_list }}
    {%- endif %}
    {% if info.attack_vote_list is not none -%}
    襲撃投票結果: {{ info.attack_vote_list }}
    {%- endif %}
  divine: |-
    占いリクエスト
    行動対象となる登場人物名のみを出力してください。
    対象:
    {% for k, v in info.status_map.items() -%}
    {%- if v == 'ALIVE' -%}
    {{ k }}
    {% endif -%}
    {%- endfor %}
  guard: |-
    護衛リクエスト
    対象:
    {% for k, v in info.status_map.items() -%}
    {%- if v == 'ALIVE' -%}
    {{ k }}
    {% endif -%}
    {%- endfor %}
  vote: |-
    投票リクエスト
    行動対象となる登場人物名のみを出力してください。
    対象:
    {% for k, v in info.status_map.items() -%}
    {%- if v == 'ALIVE' -%}
    {{ k }}
    {% endif -%}
    {%- endfor %}
  attack: |-
    襲撃リクエスト
    行動対象となる登場人物名のみを出力してください。
    対象:
    {% for k, v in info.status_map.items() -%}
    {%- if v == 'ALIVE' -%}
    {{ k }}
    {% endif -%}
    {%- endfor %}

log:
  console_output: true
  file_output: true
  output_dir: ./log
  level: debug

  request:
    name: false
    initialize: false
    daily_initialize: false
    whisper: true
    talk: true
    daily_finish: false
    divine: true
    guard: true
    vote: true
    attack: true
    finish: false
